@charset "UTF-8";
/* RESET GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* BODY */
body {
  background-color: #595260;
  height: 100vh; }

/* HEADER Y NAV BAR */
.nav {
  background-color: #2C2E43;
  height: 10vh;
  color: white; }

.navContainer {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center; }

.navLogo {
  width: 100%;
  font-family: 'Syncopate', sans-serif;
  font-size: 2.6rem;
  font-weight: bold;
  color: #FFD523;
  margin-top: 22%;
  margin-left: 6%;
  line-height: 10%;
  flex-wrap: nowrap; }

.parrafo {
  font-size: 100%;
  color: #FFD523;
  font-family: 'Syncopate', sans-serif;
  margin-top: 8%;
  margin-left: 3; }

.navMenu {
  display: grid;
  grid-auto-flow: column;
  gap: 1em; }

.navItem {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bolder;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%); }

.navItem::after {
  content: "";
  display: block;
  background: #FFD523;
  width: 90%;
  margin-top: 3px;
  height: 5px;
  border-radius: 10px;
  clip-path: var(--clippy);
  transition: clip-path .5s; }

.navItem:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%); }

.navInput:checked + .navMenu {
  background: #FFD523; }

.navLabel, .navInput {
  display: none; }

/* COMPATIBILIDAD MOBILE NAVBAR */
@media (max-width: 700px) {
  .navLabel {
    display: block;
    cursor: pointer; }
  .navMenu {
    position: fixed;
    top: 10vh;
    bottom: 8vh;
    background-color: #FFD523;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
    z-index: 1000; }
  .navInput:checked + .navMenu {
    clip-path: circle(100% at center); } }

/* FOOTER */
footer {
  height: 8vh;
  width: 100%;
  background-color: #2C2E43;
  display: flex;
  bottom: 0%;
  align-self: flex-end;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0; }

footer div {
  display: flex;
  align-items: center; }

.fa-instagram {
  color: #FFD523;
  text-decoration: none; }

.fa-facebook-square {
  color: #FFD523;
  text-decoration: none; }

.fa-envelope {
  color: #FFD523;
  text-decoration: none; }

.fa-instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /* No sé por qué me tira un error, aparentemente de compatibilidad con otros navegadores */
  text-decoration: none; }

.fa-facebook-square:hover {
  color: #3b5998;
  text-decoration: none; }

.fa-envelope:hover {
  color: #7bd9f5;
  text-decoration: none; }

.gallery {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%; }

.gallery img {
  height: 5%; }

.pSlide {
  margin-top: 4%;
  color: #FFD523;
  text-align: center;
  padding-bottom: 12%; }

.nosotrosweb {
  display: grid;
  margin-top: 4%;
  padding-bottom: 14%; }

.gallery {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%; }

.gallery img {
  height: 5%; }

.pSlide {
  margin-top: 4%;
  color: #FFD523;
  text-align: center;
  padding-bottom: 12%; }

.tablaTrabajos {
  margin-top: 2%;
  margin-bottom: 10%; }

.client-container {
  display: flex; }

.ppal-client-container {
  margin-top: 4%; }

.ultimo-client-container {
  padding-bottom: 15%; }

.map {
  display: flex;
  overflow: hidden;
  padding-bottom: 46.25%;
  position: relative;
  height: 0;
  justify-content: space-evenly; }

.map iframe {
  display: flex;
  margin: auto;
  width: 80%;
  position: absolute; }

.contactForm {
  display: flex;
  width: 60vw;
  margin: auto;
  position: relative;
  margin-bottom: 10%;
  padding-bottom: 10%; }

.form-label {
  color: white; }

.botonEnviar {
  color: black;
  background-color: #FFD523;
  border-color: #FFD523; }
