.map{
    display: flex;
    overflow:hidden;
    padding-bottom:46.25%;
    position:relative;
    height:0;
    justify-content: space-evenly;

}

.map iframe{
    display: flex;
    margin: auto;
    width:80%;
    position:absolute;

}

.contactForm {
    display:flex;
    width: 60vw;
    margin: auto;
    position: relative;
    margin-bottom: 10%;
    padding-bottom: 10%;
}

.form-label {
    color: white;

}

.botonEnviar {
    color: black;
    background-color: #FFD523;
    border-color: #FFD523;
}