.map{
    display: flex;
    overflow:hidden;

    position:relative;
    height: 60%;
    justify-content: space-evenly;

}

.map iframe{
    display: flex;
    margin: 1% auto;
    width:80%;
    position:absolute;
    padding-bottom: 1%;

}

.contactForm {
    display:flex;
    width: 60vw;
    margin: 1% auto;
    position: relative;
    margin-bottom: 10%;
    padding-bottom: 14%;
}

.form-label {
    color: white;
}

.botonEnviar {
    color: black;
    background-color: #FFD523;
    border-color: #FFD523;
}