.gallery {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.gallery img{
        height: 5%;
}

.pSlide {
        margin-top: 4%;
        color: #FFD523;
        text-align: center;
        padding-bottom: 12%;
}

.tablaTrabajos {
    margin-top: 2%;
    margin-bottom: 10%;
}